//$link: #f700a4;
//$link: #f700a4;
$link: #62ffdd;
$primary: #62ffdd;

$widescreen-enabled: false;
$fullhd-enabled: false;
$danger: #f700a4;

// Update some of Bulma's component variables
$body-background-color: #005efc28;
//$body-background-color: #2e00fc;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
*,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Noto Sans JP";
}

.navbar {
  display: block;
}
